<a href="https://colab.research.google.com/github/mezhcoder/onti_ai_2020/blob/master/solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Установка библиотек**

In [0]:
#!pip install catboost
#!wget -O data_v1.zip —no-check-certificate "https://onti-2019.s3-eu-central-1.amazonaws.com/public/data_v1.zip"          
#!unzip data_v1.zip

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
import catboost as cb
import time
import os
from sklearn.model_selection import cross_val_score

plt.style.use('ggplot')

**Чтение файлов**

In [0]:
train_data = pd.read_csv('data/transactions_train.csv')
train_target = pd.read_csv('data/train_target.csv')

test_data = pd.read_csv('data/transactions_test.csv')
test_target = pd.read_csv('data/test.csv')

**Функции для манипулирования с обучающими данными**

In [0]:
def group_by(data, groupList, value, typeArg, name=''):
    if typeArg == 'count':
        new_data = data.groupby(groupList)[value].count().reset_index()
    elif typeArg == 'sum':
        new_data = data.groupby(groupList)[value].sum().reset_index()
    elif typeArg == 'mean':
        new_data = data.groupby(groupList)[value].mean().reset_index()
    elif typeArg == 'std':
        new_data = data.groupby(groupList)[value].std().reset_index()  
    elif typeArg == 'min':
        new_data = data.groupby(groupList)[value].min().reset_index()  
    elif typeArg == 'max':
        new_data = data.groupby(groupList)[value].max().reset_index()        
    categories = new_data.reset_index().pivot(index=groupList[0], columns=groupList[1], values=value)
    categories = categories.fillna(0)
    categories.columns = [name + str(i) for i in categories.columns]
    return categories

In [0]:
def merge_all_df(dataframes, p):
    df = dataframes[0]
    for i in range(1, len(dataframes)):
        df = df.merge(dataframes[i], on=p)
    return df

**Манипулирование с обучающими данными**

In [0]:
train_table_agg_features = train_data.groupby('client_id')['amount_rur'].agg(['sum','mean','std','min','max']).reset_index()
train_table_agg_features.head()

   client_id        sum       mean         std    min       max
0          4  28404.121  39.450168   73.511624  0.043  1341.802
1          6  15720.739  21.535259   26.200397  0.045   315.781
2          7  53630.036  69.379089  253.261383  0.043  4505.971
3         10  34419.365  48.752642   63.191701  0.045   654.893
4         11  26789.404  32.991877  107.395139  0.388  2105.058

In [0]:
#train_table_categories_count - показывает сколько соверишилось количество покупок в определенной категории
#train_table_categories_sum - показывает сумму купленных покупок в определенной категории
#итак по аналогии..
train_table_categories_count = group_by(train_data, ['client_id','small_group'], 'amount_rur', 'count', name='sg_count_')
train_table_categories_sum = group_by(train_data, ['client_id','small_group'], 'amount_rur', 'sum', name='sg_sum_')
train_table_categories_std = group_by(train_data, ['client_id','small_group'], 'amount_rur', 'std', name='sg_std_')
train_table_categories_min = group_by(train_data, ['client_id','small_group'], 'amount_rur', 'min', name='sg_min_')
train_table_categories_max = group_by(train_data, ['client_id','small_group'], 'amount_rur', 'max', name='sg_max_')
train_table_categories_mean = group_by(train_data, ['client_id','small_group'], 'amount_rur', 'mean', name='sg_mean_')

In [0]:
train_data['weekday'] = train_data.trans_date % 7
train_table_days_sum = group_by(train_data, ['client_id', 'weekday'], 'amount_rur', 'sum', 'wd_sum_')
train_table_days_count = group_by(train_data, ['client_id', 'weekday'], 'amount_rur', 'count', 'wd_count_')
train_table_days_std = group_by(train_data, ['client_id', 'weekday'], 'amount_rur', 'std', 'wd_std_')
train_table_days_min = group_by(train_data, ['client_id', 'weekday'], 'amount_rur', 'min', 'wd_min_')
train_table_days_max = group_by(train_data, ['client_id', 'weekday'], 'amount_rur', 'max', 'wd_max_')
train_table_days_mean = group_by(train_data, ['client_id', 'weekday'], 'amount_rur', 'mean', 'wd_mean_')

In [0]:
train_data['month'] = train_data.trans_date//30.4167 % 12
train_table_month_sum = group_by(train_data, ['client_id', 'month'], 'amount_rur', 'sum', 'month_sum_')
train_table_month_count = group_by(train_data, ['client_id', 'month'], 'amount_rur', 'count', 'month_count_')
train_table_month_std = group_by(train_data, ['client_id', 'month'], 'amount_rur', 'std', 'month_std_')
train_table_month_min = group_by(train_data, ['client_id', 'month'], 'amount_rur', 'min', 'month_min_')
train_table_month_max = group_by(train_data, ['client_id', 'month'], 'amount_rur', 'max', 'month_max_')
train_table_month_mean = group_by(train_data, ['client_id', 'month'], 'amount_rur', 'mean', 'month_mean_')

In [0]:
train_table_month_sum = group_by(train_data, ['client_id', 'month'], 'amount_rur', 'sum', 'month_sum_')
train_table_month_count = group_by(train_data, ['client_id', 'month'], 'amount_rur', 'count', 'month_count_')
train_table_month_std = group_by(train_data, ['client_id', 'month'], 'amount_rur', 'std', 'month_std_')
train_table_month_min = group_by(train_data, ['client_id', 'month'], 'amount_rur', 'min', 'month_min_')
train_table_month_max = group_by(train_data, ['client_id', 'month'], 'amount_rur', 'max', 'month_max_')
train_table_month_mean = group_by(train_data, ['client_id', 'month'], 'amount_rur', 'mean', 'month_mean_')

In [0]:
train_first_temp_table = None
train_first_temp_table = train_table_categories_sum
d = [train_first_temp_table,train_table_categories_count,train_table_categories_std,train_table_categories_min,train_table_categories_max,train_table_categories_mean,
     train_table_days_sum,train_table_days_count,train_table_days_std,train_table_days_min,train_table_days_max,train_table_days_mean,
     train_table_month_sum,train_table_month_count,train_table_month_std,train_table_month_min,train_table_month_max,train_table_month_mean]
train_result_table = merge_all_df(d, 'client_id')

In [0]:
train_data_driver = train_data[(train_data['small_group'] == 55) | (train_data['small_group'] == 76) | (train_data['small_group'] == 121) | (train_data['small_group'] == 138)]

train_table_driver_sum = group_by(train_data_driver, ['client_id', 'small_group'], 'amount_rur', 'sum', 'driver_sum_')
train_table_driver_sum['driver_sum'] = train_table_driver_sum.sum(axis=1)

train_table_driver_count = group_by(train_data_driver, ['client_id', 'small_group'], 'amount_rur', 'count', 'driver_count_')
train_table_driver_count['driver_count'] = train_table_driver_count.count(axis=1)

train_table_driver_std = group_by(train_data_driver, ['client_id', 'small_group'], 'amount_rur', 'std', 'driver_std_')
train_table_driver_std['driver_std'] = train_table_driver_std.std(axis=1)

train_table_driver_min = group_by(train_data_driver, ['client_id', 'small_group'], 'amount_rur', 'min', 'driver_min_')
train_table_driver_min['driver_min'] = train_table_driver_min.min(axis=1)

train_table_driver_max = group_by(train_data_driver, ['client_id', 'small_group'], 'amount_rur', 'max', 'driver_max_')
train_table_driver_max['driver_max'] = train_table_driver_max.max(axis=1)

train_table_driver_mean = group_by(train_data_driver, ['client_id', 'small_group'], 'amount_rur', 'mean', 'driver_mean_')
train_table_driver_mean['driver_mean'] = train_table_driver_mean.mean(axis=1)

d = [train_table_driver_sum['driver_sum'].to_frame(), train_table_driver_count['driver_count'].to_frame(),
     train_table_driver_std['driver_std'].to_frame(), train_table_driver_min['driver_min'].to_frame(), 
     train_table_driver_max['driver_max'].to_frame(),
     train_table_driver_mean['driver_mean'].to_frame()
     ]
train_table_driver_result = merge_all_df(d, 'client_id')

train_result_table = pd.merge(train_result_table, train_table_driver_result, on='client_id', how='left')
train_result_table = train_result_table.fillna(0)

In [0]:
train_data_driver = train_data[(train_data['small_group'] == 55) | (train_data['small_group'] == 76) | (train_data['small_group'] == 121) | (train_data['small_group'] == 138)]

train_wd_table_driver_sum = group_by(train_data_driver, ['client_id', 'weekday'], 'amount_rur', 'sum', 'driver_sum_')
train_wd_table_driver_sum['wd_driver_sum'] = train_wd_table_driver_sum.sum(axis=1)

train_wd_table_driver_count = group_by(train_data_driver, ['client_id', 'weekday'], 'amount_rur', 'count', 'driver_count_')
train_wd_table_driver_count['wd_driver_count'] = train_wd_table_driver_count.count(axis=1)

train_wd_table_driver_std = group_by(train_data_driver, ['client_id', 'weekday'], 'amount_rur', 'std', 'driver_std_')
train_wd_table_driver_std['wd_driver_std'] = train_wd_table_driver_std.std(axis=1)

train_wd_table_driver_min = group_by(train_data_driver, ['client_id', 'weekday'], 'amount_rur', 'min', 'driver_min_')
train_wd_table_driver_min['wd_driver_min'] = train_wd_table_driver_min.min(axis=1)

train_wd_table_driver_max = group_by(train_data_driver, ['client_id', 'weekday'], 'amount_rur', 'max', 'driver_max_')
train_wd_table_driver_max['wd_driver_max'] = train_wd_table_driver_max.max(axis=1)

train_wd_table_driver_mean = group_by(train_data_driver, ['client_id', 'weekday'], 'amount_rur', 'mean', 'driver_mean_')
train_wd_table_driver_mean['wd_driver_mean'] = train_wd_table_driver_mean.mean(axis=1)

d = [train_wd_table_driver_sum['wd_driver_sum'].to_frame(), train_wd_table_driver_count['wd_driver_count'].to_frame(),
     train_wd_table_driver_std['wd_driver_std'].to_frame(), train_wd_table_driver_min['wd_driver_min'].to_frame(), 
     train_wd_table_driver_max['wd_driver_max'].to_frame(),
     train_wd_table_driver_mean['wd_driver_mean'].to_frame()
     ]
train_table_driver_result = merge_all_df(d, 'client_id')

train_result_table = pd.merge(train_result_table, train_table_driver_result, on='client_id', how='left')
train_result_table = train_result_table.fillna(0)

In [0]:
train_data_young = train_data[(train_data['small_group'] == 67) | (train_data['small_group'] == 54) | (train_data['small_group'] == 79) | (train_data['small_group'] == 104)]

train_table_young_sum = group_by(train_data_young, ['client_id', 'small_group'], 'amount_rur', 'sum', 'young_sum_')
train_table_young_sum['young_sum'] = train_table_young_sum.sum(axis=1)

train_table_young_count = group_by(train_data_young, ['client_id', 'small_group'], 'amount_rur', 'count', 'young_count_')
train_table_young_count['young_count'] = train_table_young_count.count(axis=1)

train_table_young_std = group_by(train_data_young, ['client_id', 'small_group'], 'amount_rur', 'std', 'young_std_')
train_table_young_std['young_std'] = train_table_young_std.std(axis=1)

train_table_young_min = group_by(train_data_young, ['client_id', 'small_group'], 'amount_rur', 'min', 'young_min_')
train_table_young_min['young_min'] = train_table_young_min.min(axis=1)

train_table_young_max = group_by(train_data_young, ['client_id', 'small_group'], 'amount_rur', 'max', 'young_max_')
train_table_young_max['young_max'] = train_table_young_max.max(axis=1)

train_table_young_mean = group_by(train_data_young, ['client_id', 'small_group'], 'amount_rur', 'mean', 'young_mean_')
train_table_young_mean['young_mean'] = train_table_young_mean.mean(axis=1)

d = [train_table_young_sum['young_sum'].to_frame(), train_table_young_count['young_count'].to_frame(),
     train_table_young_std['young_std'].to_frame(), train_table_young_min['young_min'].to_frame(), 
     train_table_young_max['young_max'].to_frame(),
     train_table_young_mean['young_mean'].to_frame()
     ]
train_table_young_result = merge_all_df(d, 'client_id')

train_result_table = pd.merge(train_result_table, train_table_young_result, on='client_id', how='left')
train_result_table = train_result_table.fillna(0)

In [0]:
train_data_young = train_data[(train_data['small_group'] == 67) | (train_data['small_group'] == 54) | (train_data['small_group'] == 79) | (train_data['small_group'] == 104)]

train_wd_table_young_sum = group_by(train_data_young, ['client_id', 'weekday'], 'amount_rur', 'sum', 'young_sum_')
train_wd_table_young_sum['wd_young_sum'] = train_wd_table_young_sum.sum(axis=1)

train_wd_table_young_count = group_by(train_data_young, ['client_id', 'weekday'], 'amount_rur', 'count', 'young_count_')
train_wd_table_young_count['wd_young_count'] = train_wd_table_young_count.count(axis=1)

train_wd_table_young_std = group_by(train_data_young, ['client_id', 'weekday'], 'amount_rur', 'std', 'young_std_')
train_wd_table_young_std['wd_young_std'] = train_wd_table_young_std.std(axis=1)

train_wd_table_young_min = group_by(train_data_young, ['client_id', 'weekday'], 'amount_rur', 'min', 'young_min_')
train_wd_table_young_min['wd_young_min'] = train_wd_table_young_min.min(axis=1)

train_wd_table_young_max = group_by(train_data_young, ['client_id', 'weekday'], 'amount_rur', 'max', 'young_max_')
train_wd_table_young_max['wd_young_max'] = train_wd_table_young_max.max(axis=1)

train_wd_table_young_mean = group_by(train_data_young, ['client_id', 'weekday'], 'amount_rur', 'mean', 'young_mean_')
train_wd_table_young_mean['wd_young_mean'] = train_wd_table_young_mean.mean(axis=1)

d = [train_wd_table_young_sum['wd_young_sum'].to_frame(), train_wd_table_young_count['wd_young_count'].to_frame(),
     train_wd_table_young_std['wd_young_std'].to_frame(), train_wd_table_young_min['wd_young_min'].to_frame(), 
     train_wd_table_young_max['wd_young_max'].to_frame(),
     train_wd_table_young_mean['wd_young_mean'].to_frame()
     ]
train_wd_table_young_result = merge_all_df(d, 'client_id')

train_result_table = pd.merge(train_result_table, train_wd_table_young_result, on='client_id', how='left')
train_result_table = train_result_table.fillna(0)

In [0]:
train_result_table

           sg_sum_0   sg_sum_1  ...  wd_young_max  wd_young_mean
client_id                       ...
4             0.000  15049.897  ...         0.000       0.000000
6            53.372   9602.770  ...         0.000       0.000000
7            89.072   4632.372  ...       188.899      56.956143
10          639.798  13440.506  ...         0.000       0.000000
11           88.239   5037.288  ...         0.000       0.000000
...             ...        ...  ...           ...            ...
49993         0.000   5631.271  ...        25.877       3.696714
49995       639.482   3945.756  ...        16.388       2.341143
49996        19.967  17732.421  ...       196.920      41.609043
49997         0.000   6114.749  ...       858.240     131.046429
49998         0.000   5137.276  ...         0.000       0.000000

[30000 rows x 1350 columns]

**Манипулирование с тестовыми данными**

In [0]:
test_table_agg_features = test_data.groupby('client_id')['amount_rur'].agg(['sum','mean','std','min','max']).reset_index()
test_table_agg_features.head()

   client_id        sum       mean         std    min       max
0          0  17036.127  19.163247   40.561700  0.065   595.339
1          1  34748.964  47.666617   89.489278  0.298  1181.221
2          2  51188.069  68.433247  152.093601  0.043  2837.682
3          3  47975.203  67.857430  318.651653  0.043  6135.652
4          5  20059.100  21.803370   34.258433  0.043   439.902

In [0]:
test_table_categories_count = group_by(test_data, ['client_id','small_group'], 'amount_rur', 'count', name='sg_count_')
test_table_categories_sum = group_by(test_data, ['client_id','small_group'], 'amount_rur', 'sum', name='sg_sum_')
test_table_categories_std = group_by(test_data, ['client_id','small_group'], 'amount_rur', 'std', name='sg_std_')
test_table_categories_min = group_by(test_data, ['client_id','small_group'], 'amount_rur', 'min', name='sg_min_')
test_table_categories_max = group_by(test_data, ['client_id','small_group'], 'amount_rur', 'max', name='sg_max_')
test_table_categories_mean = group_by(test_data, ['client_id','small_group'], 'amount_rur', 'mean', name='sg_mean_')

In [0]:
test_data['weekday'] = test_data.trans_date % 7
test_table_days_sum = group_by(test_data, ['client_id', 'weekday'], 'amount_rur', 'sum', 'wd_sum_')
test_table_days_count = group_by(test_data, ['client_id', 'weekday'], 'amount_rur', 'count', 'wd_count_')
test_table_days_std = group_by(test_data, ['client_id', 'weekday'], 'amount_rur', 'std', 'wd_std_')
test_table_days_min = group_by(test_data, ['client_id', 'weekday'], 'amount_rur', 'min', 'wd_min_')
test_table_days_max = group_by(test_data, ['client_id', 'weekday'], 'amount_rur', 'max', 'wd_max_')
test_table_days_mean = group_by(test_data, ['client_id', 'weekday'], 'amount_rur', 'mean', 'wd_mean_')

In [0]:
test_data['month'] = test_data.trans_date//30.4167 % 12
test_table_month_sum = group_by(test_data, ['client_id', 'month'], 'amount_rur', 'sum', 'month_sum_')
test_table_month_count = group_by(test_data, ['client_id', 'month'], 'amount_rur', 'count', 'month_count_')
test_table_month_std = group_by(test_data, ['client_id', 'month'], 'amount_rur', 'std', 'month_std_')
test_table_month_min = group_by(test_data, ['client_id', 'month'], 'amount_rur', 'min', 'month_min_')
test_table_month_max = group_by(test_data, ['client_id', 'month'], 'amount_rur', 'max', 'month_max_')
test_table_month_mean = group_by(test_data, ['client_id', 'month'], 'amount_rur', 'mean', 'month_mean_')

In [0]:
test_first_temp_table = None
test_first_temp_table = test_table_categories_sum
d = [test_first_temp_table,test_table_categories_count,test_table_categories_std,test_table_categories_min,test_table_categories_max,test_table_categories_mean,
     test_table_days_sum,test_table_days_count,test_table_days_std,test_table_days_min,test_table_days_max,test_table_days_mean,
     test_table_month_sum,test_table_month_count,test_table_month_std,test_table_month_min,test_table_month_max,test_table_month_mean]
test_result_table = merge_all_df(d, 'client_id')

In [0]:
test_data_driver = test_data[(test_data['small_group'] == 55) | (test_data['small_group'] == 76) | (test_data['small_group'] == 121) | (test_data['small_group'] == 138)]

test_table_driver_sum = group_by(test_data_driver, ['client_id', 'small_group'], 'amount_rur', 'sum', 'driver_sum_')
test_table_driver_sum['driver_sum'] = test_table_driver_sum.sum(axis=1)

test_table_driver_count = group_by(test_data_driver, ['client_id', 'small_group'], 'amount_rur', 'count', 'driver_count_')
test_table_driver_count['driver_count'] = test_table_driver_count.count(axis=1)

test_table_driver_std = group_by(test_data_driver, ['client_id', 'small_group'], 'amount_rur', 'std', 'driver_std_')
test_table_driver_std['driver_std'] = test_table_driver_std.std(axis=1)

test_table_driver_min = group_by(test_data_driver, ['client_id', 'small_group'], 'amount_rur', 'min', 'driver_min_')
test_table_driver_min['driver_min'] = test_table_driver_min.min(axis=1)

test_table_driver_max = group_by(test_data_driver, ['client_id', 'small_group'], 'amount_rur', 'max', 'driver_max_')
test_table_driver_max['driver_max'] = test_table_driver_max.max(axis=1)

test_table_driver_mean = group_by(test_data_driver, ['client_id', 'small_group'], 'amount_rur', 'mean', 'driver_mean_')
test_table_driver_mean['driver_mean'] = test_table_driver_mean.mean(axis=1)

d = [test_table_driver_sum['driver_sum'].to_frame(), test_table_driver_count['driver_count'].to_frame(),
     test_table_driver_std['driver_std'].to_frame(), test_table_driver_min['driver_min'].to_frame(), 
     test_table_driver_max['driver_max'].to_frame(),
     test_table_driver_mean['driver_mean'].to_frame()
     ]
test_table_driver_result = merge_all_df(d, 'client_id')

test_result_table = pd.merge(test_result_table, test_table_driver_result, on='client_id', how='left')
test_result_table = test_result_table.fillna(0)

In [0]:
test_data_driver = test_data[(test_data['small_group'] == 55) | (test_data['small_group'] == 76) | (test_data['small_group'] == 121) | (test_data['small_group'] == 138)]

test_wd_table_driver_sum = group_by(test_data_driver, ['client_id', 'weekday'], 'amount_rur', 'sum', 'driver_sum_')
test_wd_table_driver_sum['wd_driver_sum'] = test_wd_table_driver_sum.sum(axis=1)

test_wd_table_driver_count = group_by(test_data_driver, ['client_id', 'weekday'], 'amount_rur', 'count', 'driver_count_')
test_wd_table_driver_count['wd_driver_count'] = test_wd_table_driver_count.count(axis=1)

test_wd_table_driver_std = group_by(test_data_driver, ['client_id', 'weekday'], 'amount_rur', 'std', 'driver_std_')
test_wd_table_driver_std['wd_driver_std'] = test_wd_table_driver_std.std(axis=1)

test_wd_table_driver_min = group_by(test_data_driver, ['client_id', 'weekday'], 'amount_rur', 'min', 'driver_min_')
test_wd_table_driver_min['wd_driver_min'] = test_wd_table_driver_min.min(axis=1)

test_wd_table_driver_max = group_by(test_data_driver, ['client_id', 'weekday'], 'amount_rur', 'max', 'driver_max_')
test_wd_table_driver_max['wd_driver_max'] = test_wd_table_driver_max.max(axis=1)

test_wd_table_driver_mean = group_by(test_data_driver, ['client_id', 'weekday'], 'amount_rur', 'mean', 'driver_mean_')
test_wd_table_driver_mean['wd_driver_mean'] = test_wd_table_driver_mean.mean(axis=1)

d = [test_wd_table_driver_sum['wd_driver_sum'].to_frame(), test_wd_table_driver_count['wd_driver_count'].to_frame(),
     test_wd_table_driver_std['wd_driver_std'].to_frame(), test_wd_table_driver_min['wd_driver_min'].to_frame(), 
     test_wd_table_driver_max['wd_driver_max'].to_frame(),
     test_wd_table_driver_mean['wd_driver_mean'].to_frame()
     ]
test_table_driver_result = merge_all_df(d, 'client_id')

test_result_table = pd.merge(test_result_table, test_table_driver_result, on='client_id', how='left')
test_result_table = test_result_table.fillna(0)

In [0]:
test_data_young = test_data[(test_data['small_group'] == 67) | (test_data['small_group'] == 54) | (test_data['small_group'] == 79) | (test_data['small_group'] == 104)]

test_table_young_sum = group_by(test_data_young, ['client_id', 'small_group'], 'amount_rur', 'sum', 'young_sum_')
test_table_young_sum['young_sum'] = test_table_young_sum.sum(axis=1)

test_table_young_count = group_by(test_data_young, ['client_id', 'small_group'], 'amount_rur', 'count', 'young_count_')
test_table_young_count['young_count'] = test_table_young_count.count(axis=1)

test_table_young_std = group_by(test_data_young, ['client_id', 'small_group'], 'amount_rur', 'std', 'young_std_')
test_table_young_std['young_std'] = test_table_young_std.std(axis=1)

test_table_young_min = group_by(test_data_young, ['client_id', 'small_group'], 'amount_rur', 'min', 'young_min_')
test_table_young_min['young_min'] = test_table_young_min.min(axis=1)

test_table_young_max = group_by(test_data_young, ['client_id', 'small_group'], 'amount_rur', 'max', 'young_max_')
test_table_young_max['young_max'] = test_table_young_max.max(axis=1)

test_table_young_mean = group_by(test_data_young, ['client_id', 'small_group'], 'amount_rur', 'mean', 'young_mean_')
test_table_young_mean['young_mean'] = test_table_young_mean.mean(axis=1)

d = [test_table_young_sum['young_sum'].to_frame(), test_table_young_count['young_count'].to_frame(),
     test_table_young_std['young_std'].to_frame(), test_table_young_min['young_min'].to_frame(), 
     test_table_young_max['young_max'].to_frame(),
     test_table_young_mean['young_mean'].to_frame()
     ]
test_table_young_result = merge_all_df(d, 'client_id')

test_result_table = pd.merge(test_result_table, test_table_young_result, on='client_id', how='left')
test_result_table = test_result_table.fillna(0)

In [0]:
test_data_young = test_data[(test_data['small_group'] == 67) | (test_data['small_group'] == 54) | (test_data['small_group'] == 79) | (test_data['small_group'] == 104)]

test_wd_table_young_sum = group_by(test_data_young, ['client_id', 'weekday'], 'amount_rur', 'sum', 'young_sum_')
test_wd_table_young_sum['wd_young_sum'] = test_wd_table_young_sum.sum(axis=1)

test_wd_table_young_count = group_by(test_data_young, ['client_id', 'weekday'], 'amount_rur', 'count', 'young_count_')
test_wd_table_young_count['wd_young_count'] = test_wd_table_young_count.count(axis=1)

test_wd_table_young_std = group_by(test_data_young, ['client_id', 'weekday'], 'amount_rur', 'std', 'young_std_')
test_wd_table_young_std['wd_young_std'] = test_wd_table_young_std.std(axis=1)

test_wd_table_young_min = group_by(test_data_young, ['client_id', 'weekday'], 'amount_rur', 'min', 'young_min_')
test_wd_table_young_min['wd_young_min'] = test_wd_table_young_min.min(axis=1)

test_wd_table_young_max = group_by(test_data_young, ['client_id', 'weekday'], 'amount_rur', 'max', 'young_max_')
test_wd_table_young_max['wd_young_max'] = test_wd_table_young_max.max(axis=1)

test_wd_table_young_mean = group_by(test_data_young, ['client_id', 'weekday'], 'amount_rur', 'mean', 'young_mean_')
test_wd_table_young_mean['wd_young_mean'] = test_wd_table_young_mean.mean(axis=1)

d = [test_wd_table_young_sum['wd_young_sum'].to_frame(), test_wd_table_young_count['wd_young_count'].to_frame(),
     test_wd_table_young_std['wd_young_std'].to_frame(), test_wd_table_young_min['wd_young_min'].to_frame(), 
     test_wd_table_young_max['wd_young_max'].to_frame(),
     test_wd_table_young_mean['wd_young_mean'].to_frame()
     ]
test_wd_table_young_result = merge_all_df(d, 'client_id')

test_result_table = pd.merge(test_result_table, test_wd_table_young_result, on='client_id', how='left')
test_result_table = test_result_table.fillna(0)

In [0]:
test_result_table

           sg_sum_0   sg_sum_1  ...  wd_young_max  wd_young_mean
client_id                       ...
0             0.000   4994.452  ...         9.159       2.289714
1          1467.718   9847.510  ...         0.000       0.000000
2           983.132   9984.946  ...      1051.002     150.143143
3             0.000   9790.742  ...        22.898       3.271143
5            89.816  11365.690  ...         0.000       0.000000
...             ...        ...  ...           ...            ...
49985         0.000  10008.710  ...         0.000       0.000000
49991       201.337  10785.747  ...         0.000       0.000000
49992         0.000  16922.689  ...        21.564       3.080571
49994       135.057  16638.655  ...        14.663       2.094714
49999       347.857  12861.930  ...         0.000       0.000000

[20000 rows x 1350 columns]

**Алгоритмизация и создание итоговых таблиц для обучения (train, test)**

In [0]:
train = pd.merge(train_target, train_table_agg_features, on='client_id')
train = pd.merge(train, train_result_table.reset_index(), on='client_id')

In [0]:
train

       client_id  bins         sum  ...  wd_young_min  wd_young_max  wd_young_mean
0          24662     2   30254.011  ...           0.0      1227.314     175.330571
1           1046     0   42548.570  ...           0.0       586.179     166.171286
2          34089     2   26842.816  ...           0.0        61.549      14.407143
3          34848     1   15773.126  ...           0.0        52.831       9.465592
4          47076     3   12488.375  ...           0.0         0.000       0.000000
...          ...   ...         ...  ...           ...           ...            ...
29995      14303     1  285001.426  ...           0.0      9919.347     763.178214
29996      22301     2   34950.321  ...           0.0       133.695      25.876571
29997      25731     0   54074.454  ...           0.0        49.917      15.017286
29998      16820     3   32494.435  ...           0.0        61.442       8.777429
29999       5265     0   46974.129  ...           0.0       204.247      29.178143

[30000 rows x 1357 columns]

In [0]:
test = pd.merge(test_target, test_table_agg_features, on='client_id')
test = pd.merge(test, test_result_table.reset_index(), on='client_id')

In [0]:
test

       client_id        sum  ...  wd_young_max  wd_young_mean
0          28571  30507.083  ...         0.000       0.000000
1          27046  39378.016  ...        51.322      13.257143
2          13240  50211.127  ...      1497.088     226.627000
3          19974  45371.491  ...         0.000       0.000000
4          10505  90883.628  ...        19.408       2.772571
...          ...        ...  ...           ...            ...
19995       2565  35397.209  ...        24.583       3.511857
19996      31255  17369.096  ...       196.416      39.149429
19997      31539  27405.309  ...         8.243       1.177571
19998       4288  24117.923  ...        91.591      12.844476
19999      15323  42668.955  ...         0.000       0.000000

[20000 rows x 1356 columns]

**Обучение**

In [0]:
common_features=list(set(train.columns).intersection(set(test.columns)))
common_features.pop(common_features.index('client_id'))
len(common_features)

1343

In [0]:
y_train=train['bins']
X_train=train[common_features]
X_test=test[common_features]

In [0]:
param={'objective':'multi:softprob', 'num_class':4, 'n_jobs':4, 'seed':42}

In [0]:
%%time
model = cb.CatBoostClassifier(iterations=24300, task_type='GPU')
model.fit(X_train, y_train)

In [0]:
#array([0, 2, 3, ..., 0, 2, 3])
pred = model.predict(X_test)
pred = np.reshape(pred, len(pred)).astype(int)
pred

array([0, 2, 3, ..., 2, 2, 3])

**Проверка результатов**

In [0]:
%%time
scores = cross_val_score(model, X_train, y_train, cv=5)

In [0]:
scores

In [0]:
np.mean(scores)

**Создание результатов и их загрузка**

In [0]:
submission = pd.DataFrame({'bins': pred}, index=test.client_id)
submission.head()

           bins
client_id
28571         0
27046         2
13240         3
19974         2
10505         1

In [0]:
current_timestamp = int(time.time())
submission_path = 'submissions/{}.csv'.format(current_timestamp)
submission.to_csv(submission_path, index=True)

In [0]:
time.time()